{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Goku migatte no gokui</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum quae ea delectus ducimus quas doloremque! Unde repellat ad excepturi, atque ex voluptate architecto ducimus maiores? Aspernatur iste unde voluptatem modi!</p>
    </div>

    <div class="col-4">
        <img src="/assets/img/goku.jpg" class="img-thumbnail">
        </div>
</div>

{{> footer }}